In [10]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer
import numpy as np

# 1. Load your cleaned data
df = pd.read_csv("ucla_orgs_cleaned.csv")
df.head()

,category,name,description,detail_url
0,academic,"Academic, Mentorship, and Professional Develop...",AMPD provides MSA UCLA members services and re...,https://community.ucla.edu/studentorg/3176
1,academic,Academy Health Student Chapter at UCLA,In partnership with the health services resear...,https://community.ucla.edu/studentorg/997
2,academic,AI Robotics Ethics Society,"As technology advances at an exponential rate,...",https://community.ucla.edu/studentorg/3936
3,academic,al-Arabiyya,"At al-Arabiyya, we believe in the infinite cre...",https://community.ucla.edu/studentorg/6350
4,academic,Aleph: Undergraduate Research Journal for the ...,Aleph (pronounced “ah-lef”) is UCLA’s only off...,https://community.ucla.edu/studentorg/3145

In [14]:
df.shape

(2829, 4)

In [12]:
len(np.unique(df["name"].values))

1439

In [37]:
len(np.unique(df["detail_url"].values))

1439

In [13]:
len(np.unique(df["category"].values))

48

In [32]:
df["category"].value_counts()

category
service                   256
medical                   231
academic                  171
educational               159
social                    137
health and wellness       125
community service         113
cultural                  106
leadership                105
social activism            98
arts                       92
law                        86
business                   81
religious                  79
pre-professional           75
music                      71
engineering                70
career planning            68
greek life                 66
cultural/ethnic            60
technology                 58
environmental              47
student government         46
dance                      37
journals                   36
political                  35
recreation                 34
media                      34
sports                     28
dental                     23
latino/latina              20
self improvement           19
lgbtqi                     19
international students     16
honor societies            14
african american           14
ethnic                     14
asian                      14
theater                    13
asian pacific islander     13
film                       12
gsa affiliated              9
fitness                     8
transfer students           7
spirit/booster              5
faculty/staff               3
martial arts                1
out-of-state students       1
Name: count, dtype: int64

In [33]:
# 1. For each club name, collect its unique categories, sort them, and join with " and "
def combine_categories(cat_series):
    cats = sorted(set(cat_series))
    return " and ".join(cats)

# 2. Group by club name and recombine fields
df_unique = (
    df
    .groupby("name", as_index=False)
    .agg({
        "category": combine_categories,     # new combined category
        "description": "first",             # or you could join descriptions if needed
        "detail_url": "first"                      # same for URL
    })
)

In [34]:
df_unique.shape

(1439, 4)

In [35]:
len(np.unique(df_unique["category"].values))

376

In [38]:
len(np.unique(df["detail_url"].values))

1439

In [39]:
df_unique["category"].value_counts()

category
medical and service                53
greek life and leadership          28
health and wellness and medical    28
religious                          27
engineering and technology         25
                                   ..
asian and dance                     1
career planning and cultural        1
cultural and faculty/staff          1
business and sports                 1
asian and music                     1
Name: count, Length: 376, dtype: int64

In [40]:
df_unique.to_csv("ucla_orgs_cleaned_unique.csv", index=False)